{% extends 'base.html.twig' %}

{% block title %}SymRecipe mes Ingredients{% endblock %}

{% block body %}
<div class="container mt-4">
{% if not ingredients.items is same as([]) %}
<h1>mes ingredients</h1>
<a href="{{ path('ingredient.new') }}" class="btn btn-primary">Ajout ingredient</a>
  {#read and display just one flash message type #}
    {%  for message in app.flashes('success') %}
        <div class="alert alert-success mt-4">
            {{ message }}
        </div>
    {% endfor %}
<div class="count mt-4">

Il y a {{ ingredients.getTotalItemCount }} ingredients au total

</div>

<table class="table table-striped table-hover ">
  <thead>
    <tr>
      
      <th>Id</th>
      <th>nom</th>
      <th>prix</th>
      <th>date de creation</th>
    </tr>
  </thead>
  <tbody>
  {% for ingredient in ingredients %}
   <tr class="success">
      <td>{{ingredient.id}}</td>
      <td>{{ingredient.name}}</td>
      <td>{{ingredient.price}}</td>
      <td>{{ingredient.createdat|date("d/m/Y") }}
     </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<div class="navigation d-flex justify-content-center">
    {{ knp_pagination_render(ingredients) }}
</div>
{% else %}
<h4> il n'y a pas d'ingredients</h4>
{% endif %}
</div>

{% endblock %}
